.banner.d-flex.align-items-center
    .container
        form#formulario.formulario.h(action="#")
            h2 Aprende algo nuevo
            p.mt-3.mb-0 Todos los cursos a $15
            div.form-group
                label(for="busqueda")
                input.form-control#busqueda(type="search", placeholder="¿Que te gustaría aprender?")
                span#buscarCursos: i.fa.fa-search
                

