doctype
html(lang="es")
    head
        include ../mixins/button
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./css/font-awesome.min.css")
        link(rel="stylesheet", href="./css/bootstrap.min.css")
        link(rel="stylesheet", href="./css/styles.css")
        title Cursos Online
    body
        block main
        script(src="./js/jquery.slim.js")
        script(src="./js/popper.js")
        script(src="./js/bootstrap.min.js")
        script(src="./js/index.js")
