.containerDetalles {
    background: #c94b4b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #c94b4b, #4b134f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #c94b4b, #4b134f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1.5rem 0;

    .detalles {
        figure {
            img {
                width: 35px;
            }
        }

        &__infor {
            color: $color-blanco;
            p {
                font-size: .9rem;
            }
        }
    }
}